<button class="noturno">DARK</button>

<form action="/add" method="POST">
        <p>NOME</p>
        <input type="text" name="nome">
        <p>CONTEUDO</p>
        <input type="text" name="conteudo">
        <button type="submit">ENVIAR</button>
    </form>





